
.date-input {
  background-color: #2c2e2f !important;
  color: #ffffff;
}

// ::-webkit-datetime-edit { padding: 1em; }
// ::-webkit-datetime-edit-fields-wrapper { background: silver; }
// ::-webkit-datetime-edit-text { color: red; padding: 0 0.3em; }
// ::-webkit-datetime-edit-month-field { color: blue; }
// ::-webkit-datetime-edit-day-field { color: green; }
// ::-webkit-datetime-edit-year-field { color: purple; }
// ::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { background-color: #009EE0;}

.btn-selected {
  background-color: #5f5f5f !important;
}