.content {
    padding: 2em !important;
}

.warning {        
    display: flex;
    align-items: center;
}

a
  {
      color: gray;
  }
  
.material-icons.orange { color: #b4701d; }
.material-icons.red { color: #b42222; }



  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
  }
  
  th {
    background-color: #413f3f;
    font-style: bold;
    white-space: nowrap;
  }

  td, th {
    border: 1px solid #413f3f;
    text-align: left;
    padding: 8px;
    
  }
  
  tr:nth-child(even) {
    background-color: #413f4078;
  }
  