<div class="content">
  <h1>Security Data Workbench - Authorized Use Only</h1>
  <div class="warning"><i class="material-icons md-18">warning</i>
    <div class="icon-caption">&nbsp;You are responsible for any data, content, or analysis that you download or share
      via this platform.</div>
  </div>
  <div class="warning"><i class="material-icons md-18">warning</i>
    <div class="icon-caption">&nbsp;Do not download or share sensitive content or analyses without prior approval from
      the appropriate BP Business Owner.</div>
  </div>
  <div class="warning"><i class="material-icons md-18">warning</i>
    <div class="icon-caption">&nbsp;This version is an MVP and only supported by BP-built machines or InTune registered.
      ZScaler App is also required.</div>
  </div>

  <br>
  <h2>Release Notes</h2>
  <p>List of known limitations and issues with the current version:</p>
  <ol>
    <li>In SOCtopus, when clicking on a total to navigate to ADXsearch, the table in ADXsearch may show more records as the filters are using the "OR" logic operator.
     <br>We recommend applying additional filters in ADXseach if required.
     <br>There is an improvement on this functionality planned for the next version.
    </li>
  </ol>

  <br>
  <h2>Version Log</h2>
  <table>
    <thead>
      <tr>
        <th>Version</th>
        <th>Release Date</th>
        <th>Notes</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0.4<br>
        <td>23/03/2021</td>
        <td>
          ADXsearch:
          <ul>
            <li>Performance improvements</li>
            <li>New data sources for PCN Firewall and PCN IDS</li>
          </ul>
          SOCtopus:
          <ul>
            <li>Performance improvements</li>
            <li>Function to copy Kusto Query now available in all tabs</li>
            <li>Navigation within SOCtupus tabs improved to keep filters</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.3<br>
        <td>10/03/2021</td>
        <td>
          ADXsearch:
          <ul>
            <li>Bug fixes applied for Proxy Log Search</li>
            <li>Additional Date Range options added</li>
            <li>Ability to cancel search results for individual log sources</li>
            <li>Use case-insensitive filters on all queries</li>
          </ul>
          SOCtopus:
          <ul>
            <li>Now including the IP and Host tabs alongside NTID, IOC & Domain</li>
            <li>Copy Kusto Query function added to SOCtopus tabs</li>
            <li>Use case-insensitive filters on all queries</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>0.2<br>
        <td>29/01/2021</td>
        <td>Completing MVP functionalities with the introduction of the Domain tab in SOCtopus</td>
      </tr>
      <tr>
        <td>0.1<br>
        <td>14/01/2021</td>
        <td>First version released with most MPV functionalities.</td>
      </tr>
    </tbody>
  </table>


  <br>
  <h2>Have Questions or Need Help?</h2>
  <p>Contact the Security Data Services team:</p>
  <ul>
    <li><a
        href="https://teams.microsoft.com/l/channel/19%3ad4f083bb157b4642a53f954d1144d0b0%40thread.skype/General?groupId=ca5eb8ad-cc5e-4808-9062-32abe71e29c7&tenantId=ea80952e-a476-42d4-aaf4-5457852b0f7e"
        target="blank">Teams Channel</a></li>
    <li>Email to <a href="mailto:gitsdssecuritydataservices@bp.com?subject=SDW Help/Question">G IT&S DS Security Data
        Services </a>
    </li>
  </ul>
  <p>Version 0.4 - 23/03/2021</p>
</div>