<div id="chart">
  <!-- <h6>{{title}}</h6> -->
  <!-- <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions"
    [responsive]="chartOptions.responsive"
    [xaxis]="chartOptions.xaxis"
    [legend]="chartOptions.legend"
    [fill]="chartOptions.fill">
  </apx-chart> -->
  <p-chart type="bar"
          [data]="data2"
          type="horizontalBar"
          [options]="options"
          width="100%"
          height="300px"
          (onDataSelect)="selectData($event)"></p-chart>
</div>