<div class="content">
    <h1>{{ErrorTitle}}</h1>
    <p>{{ErrorReason}}</p>

    <h2>Need Help?</h2>
    <p>Contact the Security Data Services team:</p>
    <ul>
      <li><a
          href="https://teams.microsoft.com/l/channel/19%3ad4f083bb157b4642a53f954d1144d0b0%40thread.skype/General?groupId=ca5eb8ad-cc5e-4808-9062-32abe71e29c7&tenantId=ea80952e-a476-42d4-aaf4-5457852b0f7e"
          target="blank">Teams Channel</a></li>
      <li>Email to <a href="mailto:gitsdssecuritydataservices@bp.com?subject=SDW Help/Question">G IT&S DS Security Data Services </a>
      </li>
    </ul>
</div>