<div class="content">
    <h1>SDS Databricks</h1>
    <p>
        Azure Databricks allows you to consume and process SDS data using Apache Spark.
    </p>
    <p>The easy way to access the SDS production Databricks is by clicking on the image below.</p>
    <p>
        <a href="https://adb-6671739821743074.14.azuredatabricks.net/" target="databricks">
            <img src="../../../../../assets/databricks/databricks.png" alt="Open Databricks" width="220px">
        </a>
        <br>
        (click on the image to open in a new tab)
    </p>

    <br>
    <h2>Access</h2>
    <p>Please contact the SDS team to discuss the best way to give you access to use data from SDS Azure Data Lake
        Storage (ADLS) in Azure Databricks:

    <ul>
        <li><a href="https://teams.microsoft.com/l/channel/19%3ad4f083bb157b4642a53f954d1144d0b0%40thread.skype/General?groupId=ca5eb8ad-cc5e-4808-9062-32abe71e29c7&tenantId=ea80952e-a476-42d4-aaf4-5457852b0f7e"
                target="blank">Teams Channel</a></li>
        <li>Email to <a href="mailto:gitsdssecuritydataservices@bp.com?subject=SDW Help/Question">G IT&S DS Security
                Data Services </a>
        </li>
    </ul>

</div>