<div class="kusto-explorer-content">
    <h1>Kusto Explorer</h1>

    <p>There are two ways to access the Kusto database: <a href="../adx-web-ui/">Azure Data Explorer</a> or Kusto Explorer.</p>

    <h1>Kusto Explorer</h1>
    <p>It is a rich desktop application that enables you to explore your data using the Kusto Query Language in an easy-to-use user interface – this is the preferred method.</p>

    <ul>
<li>
    <p>Install Kusto Explorer from <a href="https://docs.microsoft.com/en-us/azure/data-explorer/kusto/tools/kusto-explorer" target="kustoexplorerdoc">Microsoft overview page</a>.</p>
</li>
<li>
    <p>Open Kusto Explorer</p>

    <img src="../../../../assets/kustoinfo/kustoinfoaddconnection.png" alt="Adding a connection"/>
</li>
<li>
    <p>Click the add connection button in the connections tab, then enter the cluster connection string <i>https://private-sdsadxprod.northeurope.kusto.windows.net</i>, and click OK. <br> All other field will populate automatically.</p>
    <img src="../../../../assets/kustoinfo/kustoinfoaddconnectiondiaglogbox.png" alt="Enter connection string"/> 
</li>
</ul>
</div>