.sectionContainer {
  display: flex;
  height: auto;
}

.paddingContainer {
  padding: 1em;
}

.alertContainer {
  //background: rgba(0,0,0,0.25);
  border-radius: 0em;
  padding: 1em;
  height: 100%;
  min-height: 40em;
  flex:1;
  flex-wrap: wrap;
  box-shadow: black 1px;
}

.row {
  display: flex;
  justify-content: space-evenly;
}

.row > div {
  flex:1;
  padding:1em;
  display: flex;
}

.row > .paddingDiv > table {
  flex: 1;
}

.alertContainer:last-child{
  //border-left:solid 1px rgba(255,255,255,0.2);
  padding-right: 0px;
}
.alertContainer:first-child{
  border-right:solid 1px rgba(255,255,255,0.2);
  padding-left: 0px;
}

.alertContainer h3 {
  margin-bottom: 0.5em;
  text-align: center;
}

table {
  width: 100%;
}

table th:last-child, table tr td:last-child {
  text-align:right;
}

table a {
  cursor: pointer;
}

table .alertRow:hover{
  background: #424242 !important;
}

table .alertRow:hover td{
  //font-weight:bold !important;
  text-decoration: underline !important;
  cursor: pointer !important;
}

.mat-spinner, #mat-spinner {
  margin: auto;
}

.spinner-padding {
  margin-top: 3em;
}